
<%= render :partial => 'shared/errors', 
					 :locals => {:message_error => t('views.creed.most_views.form_errors'), :object => creed} %>

<div class="creed-vision-form">
  <%= f.text_area :description, :minlength=>20, :rel=>"Descripción" %>
</div>

<%= render 'shared/notifications' %>
<div class="creed_buttons">
  <table align=center>
    <tr>
      <td>
        <%= link_to t('views.creed.most_views.controls.cancel'), eval("creed_#{creed.class.to_s.underscore.downcase.pluralize}_url"), :class => "button gray as-link" %>
      </td>
      <td>
        <%= f.submit commit_changes_legend, :class => "button orange as-link" %>
      </td>
    </tr>
   </table>
</div>
