<%= render 'creed/shared/menu' %>	

<div class="inside-box">
	<!-- Image space -->
	<div class ="creed_description">
    <div class="creed_description_first">
		  <h4><%=t "activerecord.models.#{creed.class.to_s.downcase}" %></h4>
      <p><%= record_info_for(creed) %></p>
    </div>
    <div class="area-title">
      <div class="right-placed">
        <%= link_to "", eval("edit_creed_#{creed.class.to_s.underscore.downcase}_path(creed)"), :method => :get, :id => "modify"%>
      </div>
    </div>
	</div>
  <div class="creed_description_desc">
	  <p><%= creed.description %></p>
  </div>
  <div class="comment_new">
    <%= render :partial => 'comments/index', :locals => { :comments => creed.comments } %>
    <div id="new-comment-for-commentable" class="hidden">
      <%= render :partial => 'comments/new', :locals => {:commentable => creed} %>
    </div>
  </div>
</div>
