<%= render 'creed/shared/menu' %>	

<div class="inside-box">
	<!-- Image space -->
	<div class="title-bar">
	<p>
		<%=t "activerecord.models.#{creed.class.to_s.downcase}" %>&nbsp;
		<%= record_info_for(creed) %>
		<%= button_to t("views.creed.show_#{creed.class.to_s.downcase}.controls.edit"), 
			eval("edit_creed_#{creed.class.to_s.underscore.downcase}_path(creed)"), :method => :get,
			:class => "button orange as-link" %>
	</p>
	</div>
	
	<p><%= creed.description %></p>
	
	<%= render :partial => 'comments/index', :locals => { :comments => creed.comments } %>

	<div id="new-comment-for-commentable" class="hidden">
		<%= render :partial => 'comments/new', :locals => {:commentable => creed} %>
	</div>
</div>