<div class="box rounded-10 with-shadow with-mid-width">
	<%= render :partial => 'shared/main_title', :locals => {:title => I18n.t('views.panorama.title') } %>
	
	<div class="inside-box">
		<p><%= t('views.panorama.description') %></p>
		
		<p><%= link_to t('views.panorama.actions.add_creed'), creed_visions_url(with_current_subdomain) %></p>
		<p><%= link_to t('views.panorama.actions.add_swot'), swot_analyses_url(with_current_subdomain) %></p>
		<p><%= link_to t('views.panorama.actions.add_strategic_lines'), '' %></p>
		<p><%= link_to t('views.panorama.actions.add_objectives'), '' %></p>
		<p><%= link_to t('views.panorama.actions.add_programmes'), '' %></p>
		<p><%= link_to t('views.panorama.actions.add_areas_and_people'), '' %></p>		
	</div>
</div>