<div class="panorama-img image"></div>
<div class="box rounded-10 with-shadow with-mid-width box-with-left-contents">
	<%= render :partial => 'shared/main_title', :locals => {:title => I18n.t('views.panorama.title') } %>
	
	<%= content_for(:pa_menu, &Proc.new { "selected" }) %>
		
	<div class="inside-box">
		<div class="content">
			<p><%= line_break t('views.panorama.description') %></p>
			<p><%= link_to t('views.panorama.actions.add_strategic_lines'), strategic_lines_url(with_current_subdomain) %></p>
			<p><%= link_to t('views.panorama.actions.add_objectives'), strategic_objectives_url(with_current_subdomain) %></p>
		</div>
	</div>
</div>