<ul class="menu centered">
	<li><%= link_to t('views.menu.panorama'), '' %></li>
	<li><%= link_to t('views.menu.creed'), '' %></li>
	<li><%= link_to t('views.menu.foda'), '' %></li>
	<li><%= link_to t('views.menu.expectations'), '' %></li>
	<li><%= link_to t('views.menu.objectives'), '' %></li>
	<li><%= link_to t('views.menu.programmes'), '' %></li>
	<li><%= link_to t('views.menu.people'), '' %></li>
</ul>

<br/>

<div class="box rounded-10 with-shadow with-mid-width">
	<%= render :partial => 'shared/main_title', :locals => {:title => I18n.t('views.panorama.title') } %>
	
	<div class="inside-box">
		<p><%= t('views.panorama.description') %></p>
		
		<p><%= link_to t('views.panorama.actions.add_creed'), '' %></p>
		<p><%= link_to t('views.panorama.actions.add_foda'), '' %></p>
		<p><%= link_to t('views.panorama.actions.add_expectations'), '' %></p>
		<p><%= link_to t('views.panorama.actions.add_objectives'), '' %></p>
		<p><%= link_to t('views.panorama.actions.add_programmes'), '' %></p>
		<p><%= link_to t('views.panorama.actions.add_areas_and_people'), '' %></p>		
	</div>
</div>