<div id="comment-<%= comment.id %>" class="comment">
	
	<span class="author"><%= comment.user.name %></span>
	<span class="date"><%=l comment.created_at, :format => :short %></span>
	<% unless comment.attachments.empty? %>
		<span class="attachments"><%=t 'views.comments.attachments' %></span>
		<% comment.attachments.each do |a| %>
			<%= link_to a.content_identifier, "#{a.content}" %>
		<% end %>
	<% end %>
  <div class="right-placed">
	<% if comment.user == current_user %>
		<%= button_to t('views.comments.controls.delete'), comment, :method => :delete, :remote => true, :confirm => t('views.common.messages.delete.confirm', :model => t('activerecord.models.comment'), :connector => "éste") %>
	<% end %>
  </div>
	<div class="comment_content"><%= comment.content %></div>
</div>
