<%= javascript_include_tag 'file_upload' %>

<h2><%=t 'views.creed.comments.leave_a_comment' %></h2>
<%= form_for(Comment.new, :html => {:multipart => true}, :remote => true) do |f| %>
	<%= f.text_area 'content' %>
	<%= f.hidden_field 'commentable_id', :value => commentable.id %>
	<%= f.hidden_field 'commentable_type', :value => commentable.class.to_s %>
	<%= link_to t('views.creed.comments.controls.add_a_file'), 'javascript:void();', :class => 'show-div', :id => 'upload-area' %>
	
	<div class="hidden" id="upload-area">
		<%= file_field_tag 'uploads[0]', :class => "selected-file" %>
	</div>
	
	<%= link_to t('views.creed.comments.controls.cancel'), 'javascript:void();', :class => 'hide-div', :id => 'new-comment-for-commentable' %>
	<%= f.submit t('views.creed.comments.controls.add') %>
<% end %>

