<div class="box rounded-10 with-shadow with-mid-width">
	<%= content_for(:pe_menu, &Proc.new { "selected" }) %>
	<div class="title-bar rounded-10-top">
		<h2><%=t 'views.people.non_empty.title', :company => current_user.company.name %></h2>
	</div>

	<div class="inside-box">
		<div class="unit on-2 columns">
			<div class="photo-placeholder centered column fixed" style="width: 30%">
				<!-- Image link -->
				<%= link_to I18n.t('views.accounts.sections.my_info.controls.change_photo'), '' %>
			</div>
			
			<div class="column fixed" style="width: 70%">
				<%= form_for(@user, :url => person_path(@user), :html => { :method => :put }) do |f| %>

				<div class="field-set label-large">
					
					<div><%= f.label :area %> </div>
					<%= f.select "area_id", options_from_collection_for_select(current_user.company.areas, "id", "name",@user.area_id) %>
					
					<div><%= f.label :position %></div>

					<%= f.select :position_id, translated_permissions_for_select_for(@user) %>
					
					<div><%= f.label :grade %></div>
					<%= f.text_field :grade %>

					<div><%= f.label :officce_phone %></div>
					<%= f.text_field :officce_phone %><%= f.label :ext_phone %><%= f.text_field :ext_phone, :size=>4 %>
					
					<div><%= f.label :celular_phone %></div>
					<%= f.text_field :celular_phone %>
					
					
					<div><%= f.label :fax %></div>
					<%= f.text_field :fax %>
					
					
					<div><%= f.label :home_phone %></div>
					<%= f.text_field :home_phone %>
					
					
					<br/><br/>

					<%= link_to t('views.area.index.controls.cancel'), people_path, :class => "button gray" %>
					<%= f.submit I18n.t('views.accounts.sections.my_info.controls.save'), :class => "button orange as-link" %>
				</div>



				<% end %>
			</div>
		</div>
	</div>
</div>

<%= content_for :contextual_legend do %>
<%= render 'contextual_legends/contextual_legend' %>
<% end %>