<div class="box rounded-10 with-shadow with-mid-width">
	<%= content_for(:pe_menu, &Proc.new { "selected" }) %>
	<div class="title-bar rounded-10-top">
		<h2><%=t 'views.people.non_empty.title', :company => current_user.company.name %></h2>
	</div>
	<div class="edit_person_title">
		<div class="left"><h2><%=t 'views.people.edit.title' %> <b><%=@user.full_name %></b> </h2></div>
		<div class="right width20% padding10">		
		<%= link_to image_tag('borrar_ico_up.png')+" "+t('views.people.edit.delete'), person_path(:id=>@user.id),:method=>:delete,:confirm => t("views.people.edit.confirm_destroy", :name=>@user.full_name), :class => "button yellow" %></div>
		<div class="clear"></div>
	</div>
<%= form_for(@user, :url => person_path(@user), :html => {:method=>:put, :multipart => true  }) do |f| %>
	<div class="inside-box">
		<div class="unit on-2 columns">
			<div class="photo-placeholder centered column fixed" style="width: 30%">
				<!-- Image link -->
				<%= image_tag @user.avatar.url(:thumb) %><br/>
				 <%= f.file_field :avatar, :id=>'user_photo' %>
				
			</div>

			<div class="column fixed" style="width: 70%">


				<div class="field-set label-large">
					
					<div><%= f.label :area %> </div>
					<%= f.select "area_id", options_from_collection_for_select(current_user.company.areas, "id", "name",@user.area_id) %>
					
					<div><%= f.label :position %></div>

					<%= f.select :position_id, translated_permissions_for_select_for(@user) %>
					
					<div><%= f.label :grade %></div>
					<%= f.text_field :grade %>

					<div><%= f.label :officce_phone %></div>
					<%= f.text_field :officce_phone %><%= f.label :ext_phone %><%= f.text_field :ext_phone, :size=>4 %>
					
					<div><%= f.label :celular_phone %></div>
					<%= f.text_field :celular_phone %>
					
					
					<div><%= f.label :fax %></div>
					<%= f.text_field :fax %>
					
					
					<div><%= f.label :home_phone %></div>
					<%= f.text_field :home_phone %>
					
					
					<br/><br/>

					<%= link_to t('views.people.edit.cancel'), people_path, :class => "button gray" %>
					<%= f.submit I18n.t('views.people.edit.save'), :class => "button orange as-link" %>
				</div>

					
					


			</div>
			
		</div>
		<div class="notice_box">
			<b><%=@user.full_name %> <%=t 'views.people.edit.remember_title' %></b>
			<br/><br/>
			<div class="left width70"><%=t 'views.people.edit.remember_text' %></div>
			<div class="right width20 padding10"><%= link_to t('views.people.edit.send_email'), people_path, :class => "button yellow" %></div>
			<div class="clear"></div>
			
		</div>
	</div>
<% end %>
</div>

<%= content_for :contextual_legend do %>
<%= render 'contextual_legends/contextual_legend' %>
<% end %>