- content_for :styles do
	= stylesheet_link_tag 'jquerydate','range_input'
	
- content_for :javascript do
	= javascript_include_tag 'https://www.google.com/jsapi','pointers'

= nested_form_for @pointer, :html=>{:multipart=>true, :class=>:validation} do |f| 
	= f.hidden_field :user_id, :value => current_user.id
	= f.hidden_field :operative_objective_id,:value =>  params[:operative_objective_id]

	.left.marginright10px
		= f.label :name, t('views.pointers.new.name'), :class => 'bold'
	.left
		= f.text_field :name, :size =>"80", :required=>:required, :rel=>"Nombre"	
	.clear
	%br
	.left.marginright10px
		= f.label :description, t('views.pointers.new.description'), :class => 'bold'
	.left	
		= f.text_area :description, :class=>:pointer_description,:required=>:required, :rel=>"Descripción"

	.clear	
	%br
	.left.width_40
		=t('views.pointers.new.perspective')
		= f.select :perspective, { t('views.pointers.new.perspective_options.1d') => t('views.pointers.new.perspective_options.1d').gsub(" ","_"), 
		t('views.pointers.new.perspective_options.2d') => t('views.pointers.new.perspective_options.2d').gsub(" ","_"),t('views.pointers.new.perspective_options.3d')=>t('views.pointers.new.perspective_options.3d').gsub(" ","_"),t('views.pointers.new.perspective_options.4d')=>t('views.pointers.new.perspective_options.4d').gsub(" ","_")},{:include_blank => t('views.forms.select')},{ :required=>:required, :rel=>"Perspectiva",:style=>"width:45%"}
		%br
		%br
		=t('views.pointers.new.type')
		= f.select :ptype, { t('views.pointers.new.type_options.1d') => t('views.pointers.new.type_options.1d').gsub(" ","_"), 
		t('views.pointers.new.type_options.2d') => t('views.pointers.new.type_options.2d').gsub(" ","_"),t('views.pointers.new.type_options.3d')=>t('views.pointers.new.type_options.3d').gsub(" ","_")},{:include_blank => t('views.forms.select')},{ :required=>:required, :rel=>"Tipo de Indicador",:style=>"width:45%"}
	
	.right.notification-box.width_40
		=t('views.pointers.new.attach')
		%br
		%br 
		#files
			=file_field_tag "pointer[assets_attributes][0][asset]", :id=>'asset_0' ,:size=>"15", :type=>"file", :class=>"add_asset"
			%br
		%br
		= link_to t("views.pointers.add_file"), "", :id=>"add_file"
		%br
		%br
		-unless @pointer.assets.empty?
			.blank_bg
				=f.label :titles, t("views.pointers.files_title"), :class=>"bold"
				%br
				-@pointer.assets.each_with_index do |as,index|
					%div{:id=> "asset_destroy_#{as.id}"}
						.left
							=as.asset.url().split("/")[7].gsub("%20", " ")
							%input{ :id=>"pointer_assets_attributes_new_1_destroy", :class=>"hidden", :type=>"text", :value=>"#{as.id}", :name=>"pointer[assets_attributes][#{as.id}][id]"}
							=link_to  t('views.pointers.view_file'), as.asset.url(), :target=>"_blank"
						.right
							%a{:class=>"delete",  :href=>"" ,:rel=>"#{as.id}"}
								=image_tag "borrar_ico_up.png", :class=>"button_to_delete", :alt=>"Borrar_ico_up"
						.clear		
						%br
		
	.clear
	
	%br
	
	.left.notification-box.align-right
		=t('views.pointers.new.behavior')
		= f.select :behavior, { t('views.pointers.new.behavior_options.1d') => t('views.pointers.new.behavior_options.1d').gsub(" ","_"), 
		t('views.pointers.new.behavior_options.2d') => t('views.pointers.new.behavior_options.2d').gsub(" ","_")},{:include_blank => t('views.forms.select')},{ :required=>:required, :rel=>"Comportanmiento del Indicador",:style=>"width:45%"}
		%br
		%br
		=t('views.pointers.new.advance_type')
		= f.select :advance_type, { t('views.pointers.new.advance_type_options.1d') => t('views.pointers.new.advance_type_options.1d').gsub(" ","_"), 
		t('views.pointers.new.advance_type_options.2d') => t('views.pointers.new.advance_type_options.2d').gsub(" ","_"),t('views.pointers.new.advance_type_options.3d')=>t('views.pointers.new.advance_type_options.3d').gsub(" ","_")},{:include_blank => t('views.forms.select')},{ :required=>:required, :rel=>"Tipo de Avance",:style=>"width:45%"}
		%br
		%br
		.right
			=t('views.pointers.new.unit')
			= f.text_field :unit, :size=>3,:required=>:required, :rel=>"Unidad"
		.clear
		%br
		%br
		.right
			=t('views.pointers.new.algorithm')
			= f.text_field :algorithm,:required=>:required, :rel=>"Algoritmo"
		.clear
	
	.right.notification-box.width46.align-right
		.right
			.left
				=t('views.pointers.new.init_date')
			= f.text_field :init_date,:required=>:required, :rel=>"Fecha Inicial"
		.clear	
		%br
		%br
		=t('views.pointers.new.periodicity')
		= f.select :periodicity, { t('views.pointers.new.periodicity_options.1d') => "4", 
		t('views.pointers.new.periodicity_options.2d') => "3",t('views.pointers.new.periodicity_options.3d')=>"2",t('views.pointers.new.periodicity_options.4d')=>"1"},{:include_blank => t('views.forms.select')},{ :required=>:required, :rel=>"Periodicidad",:style=>"width:45%"}
	.clear
	%br
	.left.marginright10px
		= f.label :ini_value, t('views.pointers.new.ini_value'), :class => 'bold'
		= f.text_field :ini_value, :size =>"20",:required=>:required, :rel=>"Valor Inicial"
		
	.left.marginright10px
		= f.check_box :reajust_to_cero
		= f.label :reajust, t('views.pointers.new.reajust'), :class => 'bold'
		
	.clear
	
	.notification-box
		.blank_color_pointers
			-thres=@pointer.thresholds
			-unless thres.nil?
				-thresholds=thres.split(',')
				-@umb2=thresholds[0]
				-@umb4=thresholds[1]
				
			-else
				-@umb2=2
				-@umb4=4	
			%b
				=t('views.pointers.new.thresholds')
			%i	
				=t('views.pointers.new.thresholds_sub')	
			.red_box.left
				=t('views.pointers.new.from') 
				-umb1= @pointer.behavior=="Ascendente" || @pointer.behavior==""  ? 0 : 100
				-umb6= @pointer.behavior=="Ascendente" || @pointer.behavior==""  ? 100 : 0
				=text_field_tag :umb1, umb1,:disabled=>:disabled,:class=>"thresholds_input"
				="%"
				=t('views.pointers.new.to')
				=text_field_tag :umb2, @umb2, :class=>"thresholds_input"
				="%"
			.yellow_box.left
				=t('views.pointers.new.from') 
				=text_field_tag :umb3, @umb2.to_i+1,:disabled=>:disabled, :class=>"thresholds_input"
				="%"
				=t('views.pointers.new.to')
				=text_field_tag :umb4, @umb4, :class=>"thresholds_input"
				="%"
			.green_box.left
				=t('views.pointers.new.from') 
				=text_field_tag :umb5, @umb4.to_i+1,:disabled=>:disabled, :class=>"thresholds_input"
				="%"
				=t('views.pointers.new.to')
				=text_field_tag :umb6,umb6,:disabled=>:disabled, :class=>"thresholds_input"
				="%"
			.clear	
		%br
		%br
		-if thres==""
			%i
				=t('views.pointers.new.pointer_empty')
			%br
		

		#rows		
			-unless f.object.init_date.nil?
				= render :partial=>"goal", :locals=>{:init_month=>f.object.init_date.to_time.month, :period=>f.object.periodicity.to_i, :months=>@months, :advance_type=>f.object.advance_type, :results=>f.object.results,:goals=>f.object.goals, :year=>f.object.init_date.to_time.year}
		.left
			=t('views.pointers.new.pointer_status')
			#pointer_gauge
		.right
			=t('views.pointers.new.advance_value')
			=f.text_field :advance, :min=>"0", :max=>"100",:size=>"10",:required=>:required, :rel=>"Avance"
			-unless @sumres.nil? || @sumgoal.nil? || @sumgoal==0
				-@pointer.status=(@sumres*100)/@sumgoal 
			=f.hidden_field :status
		.clear			
		%div{:class=>"blank-box"}
			= link_to "+/- ","", :class=>"head" , :rel=>"collapse_graph"
			Simulaciòn de indicadores 		
		#collapse_graph{:class=>"collapse"}			
			#chart_div{:style=>"width: 670px; height: 500px;"}	
	.notification-box
		= f.label :comments, t('views.pointers.new.comments'), :class => 'bold'
	%br	
	= f.text_area :comments		
			
	%br
	= render 'shared/notifications'
	%div.actions
		= link_to t('views.pointers.cancel'), operative_objectives_path, :class => 'button gray'
		= f.submit t('views.pointers.new.controls.save'), :class => 'button orange as-link'
		
-unless @pointer.nil?
	-if @pointer.status.nil?
		-@pointer.status=0
	
	=behavior="#{@pointer.behavior}";
	-if (behavior=="Ascendente" || behavior=="" )
		:javascript
			var pointerOptions = {
				width: 450, height: 120,
				redFrom: 0, redTo: #{@umb2},
				yellowFrom:#{@umb2.to_i + 1}, yellowTo: #{@umb4},
				greenFrom:#{@umb4.to_i + 1}, greenTo:100,
				minorTicks: 5,
				max: 100,
				min: 0
			};		
	-else
		:javascript
			var pointerOptions = {
				width: 450, height: 120,
				redFrom: 100, redTo: #{@umb2},
				yellowFrom:#{@umb2.to_i + 1}, yellowTo: #{@umb4},
				greenFrom:#{@umb4.to_i + 1}, greenTo:0,
				minorTicks: 5, 
				max: 0,
				min: 100
			};
							
	
	:javascript
		datagrid=[];
		//Google charts
		var chart=0;
		google.load('visualization', '1', {packages: ['corechart']});
		google.setOnLoadCallback(drawVisualization);
		
		
		google.setOnLoadCallback(drawChart_pointer_gauge);
				
				function drawChart_pointer_gauge() {
				    advance=parseFloat('#{'%.2f' % @pointer.advance || 0}');
				    if (isNaN(advance))
						advance=0;
					var data = new google.visualization.DataTable();
					data.addColumn('string', 'Label');
					data.addColumn('number', 'Value');
					data.addRows([
						['Status', advance]
						]);
					
						chart = new google.visualization.Gauge(document.getElementById('pointer_gauge'));
						chart.draw(data, pointerOptions);
					}
				