-results=results.split(",")
-goals=goals.split(",")
-unless init_month.nil?		
	%table{:cellspacing=>"2",:cellpadding=>"10", :class=>"notification-box pointer_table"}
		%tr
			%th
			%th
				=t('views.pointers.new.period_goals')
			%th
				=t('views.pointers.new.period_sum')
			%th
				=t('views.pointers.new.period_results')
			%th
				=t('views.pointers.new.results_sum')
		-index=0
		-counter=0
		-graph="[['Mes', 'Resultados','Metas'],"
		-sumres=0
		-sumgoal=0
		-antres=0
		-antgoal=0
		-while counter < 12
	
			
			- if index % period == 0		
				-ind=init_month+(index)
				-if ind>12 
					-ind=ind-index 
					-index=ind 
					-year+=1
				
				
				-res=results[counter]
				-goal=goals[counter]
				-counter+=1
				-graph+="['#{t('views.month_names.'+months[ind]).upcase}', #{res}, #{goal}],"
				-if advance_type =="Acumulado"
					-unless res.class==Array || goal.class==Array				
						-sumres=res.to_f-antres
						-sumgoal=goal.to_f-antgoal
					
						-antres=res.to_f
						-antgoal=goal.to_f
					
					%tr	
						%td
							=t('views.month_names.'+months[ind]).upcase
							=" - "
							= year
						%td
							%div{:id=>"sumgoal_#{counter}"}
								=sumgoal
						%td
							=text_field_tag "pointer[goals][#{counter}]", goal, :class=>"pointer_input pinput"
						%td
							%div{:id=>"sumres_#{counter}"}
								=sumres
						%td
							=text_field_tag "pointer[results][#{counter}]", res, :class=>"pointer_input ainput"
				-else
					-unless res.class==Array || goal.class==Array				
						-sumres+=res.to_f
						-sumgoal+=goal.to_f
					%tr	
						%td
							=t('views.month_names.'+months[ind]).upcase
							=" - "
							= year
						%td
							=text_field_tag "pointer[goals][#{counter}]", goal, :class=>"pointer_input pinput"
						%td
							%div{:id=>"sumgoal_#{counter}"}
								=sumgoal
						%td
							=text_field_tag "pointer[results][#{counter}]", res, :class=>"pointer_input ainput"
						%td
							%div{:id=>"sumres_#{counter}"}
								=sumres
			-index+=1
		-graph+="];"		
-unless @pointer.nil?
	-unless @pointer.new_record?	
		:javascript
			datagrid=#{graph};
			//Google charts
			google.load('visualization', '1', {packages: ['corechart']});
			google.setOnLoadCallback(drawVisualization);
	