<div class="box rounded-10 with-shadow with-mid-width">
	<%= render :partial => 'creed/shared/new_creed', :locals => {:creed => @war_cry} %>
</div>

<%= content_for :message do %>
	<div class="help">
		<div class="title">
			<p><%= t('views.common.help.title') %></p>
		</div>
		
		<p class="subtitle"><%= t('activerecord.models.war_cry') %></p>
		
		<p><%= t('views.creed.help.war_cry_description.description')  %></p>
		
		<p class="subtitle"><%= t('views.creed.help.notifications.title') %></p>
		
		<p><%= t('views.creed.help.notifications.description')  %></p>
	</div>
<% end %>