<div class="box rounded-10 with-shadow with-mid-width">
	<%= render :partial => 'creed/shared/show_creed', :locals => {:creed => @war_cry} %>
</div>

<%= content_for :message do %>
	<div class="help">
		<div class="title">
			<p><%= I18n.t('views.common.help.title') %></p>
		</div>
		
		<p class="subtitle"><%=t 'views.creed.war_cry_description' %></p>
		
		<p><%=t 'views.creed.help.war_cry_description.description'  %></p>
		
		<p class="subtitle"><%=t 'views.creed.help.notifications.title' %></p>
		
		<p><%=t 'views.creed.help.notifications.description'  %></p>
		<p><%=t 'views.creed.help.notifications.description_extra'  %></p>
	</div>
<% end %>