<div class="box rounded-10 with-shadow with-mid-width">
	
	<div class="inside-box">
		<!-- Image space -->
		<h1><%= t('views.strategic_lines.edit.title') %></h1>
		
		<%= form_for @strategic_line, :html => { :method => :put } do |f| %>
			<%= f.text_field :content %><br/>
			<span class="updated-pragma">Última actualización : <%= record_info_for(@strategic_line) %></span>
			
			
			<%= f.submit t('views.strategic_lines.edit.controls.save') %>
			<%= link_to t('views.strategic_lines.edit.controls.cancel'), '' %>
		<% end %>		
			
	</div>
</div>

<%= content_for :message do %>
	<div class="help">
		<div class="title">
			<p><%= I18n.t('views.common.help.title') %></p>
		</div>
		
		<p class="subtitle"><%=t 'views.menu.strategic_lines' %></p>

	</div>
<% end %>