<div class="box rounded-10 with-shadow with-mid-width">

	<%= content_for(:sl_menu, &Proc.new { "selected" }) %>

  <div class="title-bar rounded-10-top">
    <h2><%= t('views.strategic_lines.edit.title') %></h2>
    <%= link_to 'Back', strategic_lines_path, :class => "back" %>
  </div>

  <div class="inside-box">
    <div class="form-box">
      <%= form_for @strategic_line, :html => { :method => :put, :class=>:validation } do |f| %>
        <%= f.text_area :content, :required=>:required, :rel=>"Descripción"  %><br/>

		<h2><%= t('views.strategic_lines.edit.strategic_objectives') %></h2>
        <ul>
          <% @strategic_objectives.each do |strategic_objective| %>
            <li>
              <%= check_box_tag "strategic_line[strategic_objective_ids][]", strategic_objective.id, strategic_line_include_strategic_objective?(f.object, strategic_objective) -%>
              <%= label_tag "strategic_line_strategic_objective_ids_", strategic_objective.content -%>
            </li>
          <% end %>
        </ul>

        <span class="updated-pragma">Última actualización : <%= record_info_for(@strategic_line) %></span>


        <div class="actions" style="width:260px">
          <%= link_to t('views.strategic_lines.edit.controls.cancel'), '', :class => "button gray" %>
          <%= f.submit t('views.strategic_lines.edit.controls.save'), :class => "button orange"%>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= content_for :contextual_legend do %>
	<%= render 'contextual_legends/contextual_legend' %>
<% end %>
