<div class="box rounded-10 with-shadow with-mid-width">
	
	<div class="inside-box">
		<!-- Image space -->
		<h1><%= t('views.strategic_lines.index.not_empty.title') %></h1>
		
		<% @strategic_lines.each do |sl| %>
				<div id="sl-<%= sl.id %>">
					<%= sl.content %>
					<%= record_info_for(sl) %>
					
					<%= render :partial => 'comments/index', :locals => { :comments => sl.comments } %>
					
					<div id="new-comment-for-commentable" class="hidden">
						<%= render :partial => 'comments/new', :locals => {:commentable => sl} %>
					</div>
					
					<%= button_to 'Eliminar', sl, :method => :delete, 
												  :confirm => t('views.strategic_lines.messages.delete.confirm'), 
												  :class => 'delete' %>
					<%= link_to 'Modificar', edit_strategic_line_path(sl), :class => 'modify' %>
				</div>
		<% end %>		
			
		<%= link_to t('views.strategic_lines.index.not_empty.controls.add'), new_strategic_line_path, :class => "button orange" %>
	</div>
</div>

<%= content_for :message do %>
	<div class="help">
		<div class="title">
			<p><%= I18n.t('views.common.help.title') %></p>
		</div>
		
		<p class="subtitle"><%=t 'views.menu.strategic_lines' %></p>

	</div>
<% end %>