<div class="box rounded-10 with-shadow with-mid-width">
	
	<div class="inside-box">
		<!-- Image space -->
		<h1><%= t('views.strategic_lines.new.title') %></h1>
		
		<%= form_for @strategic_line do |f| %>
			<div class="errors">
				<%= render :partial => 'shared/errors', 
							 		 :locals => {:message_error => t('views.creed.most_views.form_errors'), :object => @strategic_line} %>
			</div>
			<%= f.text_field :content %><br/>
			
			<%= render 'shared/notifications' %>
				
			<%= f.submit t('views.strategic_lines.new.controls.save') %>
			<%= link_to t('views.strategic_lines.new.controls.cancel'), strategic_lines_path %>
		<% end %>		
			
	</div>
</div>

<%= content_for :contextual_legend do %>
	<%= render 'contextual_legends/contextual_legend' %>
<% end %>