<div class="box rounded-10 with-shadow with-mid-width">

	<%= content_for(:sl_menu, &Proc.new { "selected" }) %>

  <div class="title-bar rounded-10-top">
    <h2><%= t('views.strategic_lines.new.title') %></h2>
  </div>

  <div class="inside-box">
    <div class="form-box">
      <%= form_for @strategic_line do |f| %>
        <%= f.text_area :content %><br/>

		<h2><%= t('views.strategic_lines.new.strategic_objectives') %></h2>
        <ul>
          <% @strategic_objectives.each do |strategic_objective| %>
            <li>
              <%= check_box_tag "strategic_line[strategic_objective_ids][]", strategic_objective.id, strategic_line_include_strategic_objective?(f.object, strategic_objective) -%>
              <%= label_tag "strategic_line_strategic_objective_ids_", strategic_objective.content -%>
            </li>
          <% end %>
        </ul>

      </div>
      <%= render 'shared/notifications' %>

      <div class="actions" style="width:180px">
        <%= link_to t('views.strategic_lines.new.controls.cancel'), strategic_lines_path, :class => "button gray" %>
        <%= f.submit t('views.strategic_lines.new.controls.save'), :class => "button orange" %>
      </div>
    <% end %>
  </div>
</div>

<%= content_for :contextual_legend do %>
	<%= render 'contextual_legends/contextual_legend' %>
<% end %>