<%= content_for :message do %>
	<div class="help">
		<div class="title">
			<p><%=t 'views.common.help.title' %></p>
		</div>
		
		<p class="subtitle"><%=t 'views.swot.internal_view.help.subtitle_one' %></p>
		
		<p><%=t 'views.swot.internal_view.help.description_one'  %></p>
		
		<p class="subtitle"><%=t 'views.swot.internal_view.help.subtitle_two' %></p>
		
		<p><%=t 'views.swot.internal_view.help.description_two'  %></p>
	</div>
<% end %>