<div class="box rounded-10 with-shadow with-mid-width">
	<%= render :partial => 'creed/shared/new_creed', :locals => {:creed => @mission} %>
</div>

<%= content_for :message do %>
	<div class="help">
		<div class="title">
			<p><%= I18n.t('views.common.help.title') %></p>
		</div>
		
		<p class="subtitle"><%= I18n.t('views.creed.mission') %></p>
		
		<p><%= I18n.t('views.creed.help.mission.description')  %></p>
		
		<p class="subtitle"><%= I18n.t('views.creed.help.notifications.title') %></p>
		
		<p><%= I18n.t('views.creed.help.notifications.description')  %></p>
	</div>
<% end %>