<div id="person-<%= user.id %>">
	<b><%= user.name %></b>
	<%= link_to user.email, 'javascript:void(0);' %>
	<%= I18n.t("views.positions.#{user.position.name}") %>
	<%= link_to '', edit_person_path(user), :class => "modify" %>
</div>