<div class="box rounded-10 with-shadow with-mid-width">
  
	<%= content_for(:so_menu, &Proc.new { "selected" }) %>
	
	<div class="title-bar rounded-10-top">
    <h2><%= t('views.strategic_objectives.edit.title') %></h2>
    <%= link_to 'Back', strategic_objectives_path, :class => "back" %>
  </div>

  <div class="inside-box">

    <div class="form-box">
      <%= form_for @strategic_objective, :html => { :method => :put,:class=>"validation" } do |f| %>
        <%= f.text_area :content, :required=>:required, :rel=>"Descripción"  %><br/>
        <span class="updated-pragma">Última actualización : <%= record_info_for(@strategic_objective) %></span>

        <div class="actions" style="width:260px">
          <%= link_to t('views.strategic_objectives.edit.controls.cancel'), '', :class => "button gray" %>
          <%= f.submit t('views.strategic_objectives.edit.controls.save'), :class => "button orange" %>
        <% end %>		
      </div>
    </div>

  </div>
</div>

<%= content_for :message do %>
  <div class="help">
    <div class="title">
      <p><%= I18n.t('views.common.help.title') %></p>
    </div>

    <p class="subtitle"><%=t 'views.menu.strategic_objectives' %></p>

  </div>
<% end %>

<%= content_for :contextual_legend do %>
  <%= render 'contextual_legends/contextual_legend' %>
<% end %>
