<div class="box rounded-10 with-shadow with-mid-width">
  <div class="title-bar rounded-10-top">
    <h2><%= t('views.strategic_objectives.new.title') %></h2>
  </div>

  <div class="inside-box">
    <div class="form-box">
      <%= form_for @strategic_objective do |f| %>
        <%= f.text_area :content %><br/>

        <h2><%= t('views.strategic_objectives.new.strategic_lines') %></h2>
        <ul>
          <% @strategic_lines.each do |strategic_line| %>
            <li>
              <%= check_box_tag "strategic_objective[strategic_line_ids][]", strategic_line.id, strategic_objective_include_strategic_line?(f.object, strategic_line) -%>
              <%= label_tag "strategic_objective_strategic_line_ids_", strategic_line.content -%>
            </li>
          <% end %>
        </ul>

      </div>
      <%= render 'shared/notifications' %>

      <div class="actions" style="width:180px">
        <%= link_to t('views.strategic_objectives.new.controls.cancel'), strategic_objectives_path, :class => "button gray" %>
        <%= f.submit t('views.strategic_objectives.new.controls.save'), :class => "button orange" %>
      </div>
    <% end %>		

  </div>
</div>


<%= content_for :contextual_legend do %>
  <%= render 'contextual_legends/contextual_legend' %>
<% end %>
