<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @strategic_objective.content %>
</p>

<p>
  <b>User:</b>
  <%= @strategic_objective.user_id %>
</p>

<p>
  <b>Company:</b>
  <%= @strategic_objective.company_id %>
</p>


<%= link_to 'Edit', edit_strategic_objective_path(@strategic_objective) %> |
<%= link_to 'Back', strategic_objectives_path %>
