<ul class="menu centered">
	<li><%= link_to t('views.menu.panorama'), panorama_url(with_current_subdomain) %></li>
	<li><%= link_to t('views.menu.creed'), creed_visions_url(with_current_subdomain) %></li>
	<li><%= link_to t('views.menu.swot'), swot_analyses_url(with_current_subdomain) %></li>
	<li><%= link_to t('views.menu.strategic_lines'), strategic_lines_url(with_current_subdomain) %></li>
	<li><%= link_to t('views.menu.objectives'), strategic_objectives_url(with_current_subdomain) %></li>
	<li><%= link_to t('views.menu.programmes'), '' %></li>
	<li><%= link_to t('views.menu.people'), '' %></li>
</ul>
<br/>
