<div id="menu-content" class="with-shadow">
<% if session['area_id']=='' || session[:area_id].to_s==session[:main_area_id].to_s%>

<ul class="menu centered ">
	<li class="<%= yield(:pa_menu) %>"><%= link_to '', panorama_url(with_current_subdomain), :class => "panorama-btn", :id => "panorama-menu" %></li>
	<li class="<%= yield(:di_menu) %>"><%= link_to '', creed_visions_url(with_current_subdomain), :class => "direction-btn", :id => "direction-menu" %></li>
	<li class="<%= yield(:sw_menu) %>"><%= link_to '', swot_analyses_url(with_current_subdomain), :class => "foda-btn", :id => "swot-menu" %></li>
	<li class="<%= yield(:so_menu) %>"><%= link_to '', strategic_objectives_url(with_current_subdomain), :class => "strategic-o-btn", :id => "strategic-objectives-menu" %></li>
	<li class="<%= yield(:sl_menu) %>"><%= link_to '', strategic_lines_url(with_current_subdomain), :class => "strategic-l-btn", :id => "strategic-lines-menu" %></li>

	<li class="<%= yield(:pe_menu) %>"><%= link_to '', people_url(with_current_subdomain), :class => "people-btn", :id => "people-menu" %></li>

</ul>

<%else%>
<% if @selected_area.alevel==2%>
<ul class="menu centered ">
	<li ><%= link_to '<< Regresar', area_select_path(:area_id=>@selected_area.parent_id), :class=>'back_menu'%></li>
	<li class="<%= yield(:pa_menu) %>"><%= link_to '', area_panorama_url(), :class => "panorama-btn", :id => "panorama-menu" %></li>
	<li class="<%= yield(:op_menu) %>"><%= link_to '', area_operative_objectives_url(), :class => "objective-op-btn", :id => "objetivope-menu" %></li>
	<li class="<%= yield(:cy_menu) %>"><%= link_to '', area_operating_cycles_path(), :class => "ciclos-op-btn", :id => "ciclos-menu" %></li>
	<li class="<%= yield(:proj_menu) %>"><%= link_to '', area_projects_url(), :class => "projects-btn", :id => "proyects-menu" %></li>

	<li class="<%= yield(:pe_menu) %>"><%= link_to '', people_url(with_current_subdomain), :class => "people-btn", :id => "people-menu" %></li>

</ul>

<%-else%>
<ul class="menu centered ">
	<li ><%= link_to '<< Regresar', area_select_path, :class=>'back_menu'%></li>
	<li class="<%= yield(:pa_menu) %>"><%= link_to '', panorama_url(with_current_subdomain), :class => "panorama-btn", :id => "panorama-menu" %></li>
	<li class="<%= yield(:so_menu) %>"><%= link_to '', strategic_objectives_url(with_current_subdomain), :class => "strategic-o-snd-btn", :id => "strategic-objectives-snd-menu" %></li>
	<li class="<%= yield(:sl_menu) %>"><%= link_to '', strategic_lines_url(with_current_subdomain), :class => "strategic-l-snd-btn", :id => "strategic-lines-snd-menu" %></li>

	<li class="<%= yield(:pe_menu) %>"><%= link_to '', people_url(with_current_subdomain), :class => "people-btn", :id => "people-menu" %></li>

</ul>
<%-end%>

<%end%>

</div>
