<div id="menu-content" class="with-shadow">
<ul class="menu centered ">
	<li><%= link_to '', panorama_url(with_current_subdomain), :class => "panorama-btn", :id => "panorama-menu" %></li>
	<li><%= link_to '', creed_visions_url(with_current_subdomain), :class => "direction-btn", :id => "direction-menu" %></li>
	<li><%= link_to '', swot_analyses_url(with_current_subdomain), :class => "foda-btn", :id => "swot-menu" %></li>
	<li><%= link_to '', strategic_lines_url(with_current_subdomain), :class => "strategic-l-btn", :id => "strategic-lines-menu" %></li>
	<li><%= link_to '', strategic_objectives_url(with_current_subdomain), :class => "strategic-o-btn", :id => "strategic-objectives-menu" %></li>
	<li><%= link_to '', '', :class => 'programs-btn', :id => "programs-menu" %></li>
	<li><%= link_to '', people_url(with_current_subdomain), :class => "people-btn", :id => "people-menu" %></li>
</ul>
</div>
