.light-gray.padding_10px
	.left
		%label
			%strong
				= t("views.projects.section_areas")
	.clear
	%br
	%br
	= select_tag "project_areas_select", options_from_collection_for_select(@sibling_areas, "id", "name",session[:area_id]),{:include_blank => t('views.forms.select'), :style=>"width:70%"}
	= link_to t("views.projects.add_area"), "", :id=>"add_area", :rel=>@project.id
	%br
	%br
	#area_supports
		%ul{:id=>"project_areas_ul"}
			-index=0	
			= p.fields_for :project_areas do |area| 
				-classs=index%2==0 ?  "gray" : "blank_bg"
				%li{:id=>"#{area.object.id}", :rel=>"#{index}" }
					%div{ :id=>"project_project_areas_attributes_#{area.object.id}_div_#{index}", :class=>"#{classs}" }
						.left{:style=>"width:400px"}
							= area.hidden_field :id
							= area.hidden_field :torder
							= area.object.area.name
						.right
							=link_to image_tag("borrar_ico_up.png", :class=>"button_to_delete",:alt=>"Borrar_ico_up"),"", :rel=>"project_project_areas_attributes_#{area.object.id}_div_#{index}", :class=>"delete"
							
						.clear
				-index+=1

