.light-gray.padding_10px#project_areas
	.left
		%label
			%strong
				= t("views.projects.section_areas")
	.clear
	%br
	%br
	%input{:id=>"areas_input", :style=>"width:60%", :class=>:add_input, :value => t("views.projects.add_area"), :rel=>"area", :name=>"project[project_areas_attributes][new_007][area_id]"}
	= select_tag "project_areas_select", options_from_collection_for_select(@sibling_areas, "id", "name"),{:include_blank => t('views.forms.select'), :style=>"width:70%", :class => :hidden,  :name => 'project[project_areas_attributes][new_007][area_id]'}
	%br
	= link_to t("views.projects.add_area"), "", :id=>"add_area", :rel=>@project.id, :class => :hidden
	%br
	%br
	#area_supports
		%ul{:id=>"project_areas_ul"}
			-index=0	
			= p.fields_for :project_areas do |area| 
				-classs=index%2==0 ?  "gray" : "blank_bg"
				%li{:id=>"#{area.object.id}", :rel=>"#{index}" }
					%div{ :id=>"project_project_areas_attributes_#{area.object.id}_div_#{index}", :class=>"#{classs}" }
						.left{:style=>"width:400px"}
							= area.hidden_field :id
							= area.hidden_field :torder
							= area.object.area.name
						.right.action{:id=>"action_project_areas_#{index}"}
							=link_to image_tag("borrar_ico_up.png", :class=>"button_to_delete",:alt=>"Borrar_ico_up"),"", :rel=>"project_project_areas_attributes_#{area.object.id}_div_#{index}", :class=>"delete"
							
						.clear
				-index+=1

