.light-gray.padding_10px
	.left
		%label
			%strong
				= t("views.projects.section_#{type}s")
	.clear		
	%br
	%br
	.align-right.left{:style=>"width:95%"}
		%input{:id=>"#{type}s_input", :style=>"width:100%"}		
		%br
		= link_to t("views.projects.add_#{type}"), "", :id=>"add_#{type}"
	.clear
	%br	
	%div{:id=>"#{type}s", :class=>"hidden"}
		%ul{:id=>"#{type}s_ul"}