.light-gray.padding_10px
	.left
		%label
			%strong
				= t("views.projects.section_#{type}s")
	-unless type!="profit"			
		.right.width50
			.left.marginright10px
				=check_box("inc", "0")
				%span{:id=>"increment"}
					= t("views.projects.profit_increment")	
			.left.marginright10px
				=check_box("dec", "0")		
				%span{:id=>"decrement"}
					= t("views.projects.profit_decrement")
	.clear
	%br
	%br
	.align-right.left{:style=>"width:95%"}
		%input{:id=>"#{type}s_input", :style=>"width:100%"}		
		%br
		= link_to t("views.projects.add_#{type}"), "", :id=>"add_#{type}"
	.clear	
	%br
	%div{:id=>"#{type}s"}
		-index=0
		%ul{:id=>"#{type}s_ul"}
			= f.fields_for "#{type}s" do |client|
				-classs=index%2==0 ?  "gray" : "blank_bg"
				%li{:rel=>"#{index}"}
					%div{:id=>"project_#{type}s_attributes_#{client.object.id}_div_#{index}", :class=>"#{classs}"}
						.left
							.left
								-size= type=="profit" ? "20" : "85"
								= client.text_field :name, :class => 'no_edit_input', :size=>size
								= client.hidden_field :torder
								%a{:id=>"project_#{type}s_attributes_#{index}_name_close",:rel=>"project_#{type}s_attributes_#{index}_name",:class=>"close hidden",  :href=>""}
									=image_tag "close.png"

							-unless type!="profit"
								.left.marginright10px
									=client.check_box :incre
									= t("views.projects.profit_increment")
								.left.marginright10px
									=client.check_box :decre	
									= t("views.projects.profit_decrement")
						.right
							%a{:rel=>"project_#{type}s_attributes_#{index}_name",:class=>"modify",  :href=>""}
								=image_tag "editar_ico_up.png", :class=>"button_to_edit", :alt=>"Borrar_ico_up"	
							%a{:rel=>"project_#{type}s_attributes_#{client.object.id}_div_#{index}",:class=>"delete",  :href=>""}
								=image_tag "borrar_ico_up.png", :class=>"button_to_delete", :alt=>"Borrar_ico_up"
						.clear	
				-index=index+1	