.light-gray.padding_10px
	.left
		%label
			%strong
				= t("views.projects.section_#{type}s")
	.clear		
	%br
	%br
	.left{:style=>"width:95%"}
		%input{:id=>"#{type}s_input", :style=>"width:80%", :class=>:add_input, :value=>t("views.projects.add_#{type}"), :rel=>"#{type}"}
		= link_to "Agregar otro", "", :id=>"add_#{type}", :class=>"hidden"
	.clear
	%br	
	%div{:id=>"#{type}s", :class=>"hidden"}
		%ul{:id=>"#{type}s_ul"}