.light-gray.padding_10px
	.left
		%label
			%strong
				= t("views.projects.section_#{type}s")
	.clear
	%br
	%br
	
	%div{:id=>"#{type}s"}
		-index=0
		%ul{:id=>"#{type}s_ul"}
			= f.fields_for "#{type}s" do |client|
				-classs=index%2==0 ?  "gray" : "blank_bg"
				%li{:rel=>"#{index}"}
					%div{:id=>"project_#{type}s_attributes_#{client.object.id}_div_#{index}", :class=>"#{classs}"}
						.left
							.left
								-size= "85"
								-if type=="restriction"
									-size="70" 
								-if type=="profit"  ||  type=="project_task"
									-size="55" 
										
								= client.text_field :name, :class => 'no_edit_input', :size=>size
								-if type=="project_task"
									= client.text_field :date, :class => 'add_input date_input', :id=>"date_input_#{client.object.id}",:size=>"10%", :type=>:date
									%script
										dateBehavior("#date_input_#{client.object.id}");
									
								-if type=="restriction" 
									= client.select :ptype, {"Supuesto"=>"supuesto","Restricción"=>"restriccion"},{}, :disabled=>:disabled,:class => 'no_edit_input'	
									
								-if type=="profit"
									= client.select :ptype, {"Incremento de Ingresos"=>"incremento","Reducción de Costos"=>"reduccion"},{}, :disabled=>:disabled,:class => 'no_edit_input'	
									
								= client.hidden_field :torder
								%a{:id=>"project_#{type}s_attributes_#{index}_name_close",:rel=>"project_#{type}s_attributes_#{index}_name",:class=>"close hidden",  :href=>""}
									=image_tag "close.png"

						.right.action{:id=>"action_#{type}s_#{index}"}
							%a{:rel=>"project_#{type}s_attributes_#{index}_name",:class=>"modify",  :href=>""}
								=image_tag "editar_ico_up.png", :class=>"button_to_edit", :alt=>"Borrar_ico_up"	
							%a{:rel=>"project_#{type}s_attributes_#{client.object.id}_div_#{index}",:class=>"delete",  :href=>""}
								=image_tag "borrar_ico_up.png", :class=>"button_to_delete", :alt=>"Borrar_ico_up"
						.clear	
				-index=index+1	
		%ul{:class=>"add_element_ul"}
			%li
				-if type=="project_task"
					.left{:style=>"width:95%"}
						%input{:id=>"#{type}s_input",:name=>"project[#{type}s_attributes][0][name]", :style=>"width:60%", :class=>:add_input, :value=>t("views.projects.add_#{type}"), :rel=>"#{type}"}
						%input{:id=>"#{type}s_date_input", :style=>"width:20%", :class=>"add_input date_input", :value=>"Fecha", :type=>:date}		
						=link_to "Agregar otro", "", :id=>"add_#{type}", :class=>"hidden"
				-else		
					.left{:style=>"width:95%"}
						%input{:id=>"#{type}s_input", :style=>"width:80%", :class=>:add_input, :value=>t("views.projects.add_#{type}"), :rel=>"#{type}"}		
						=link_to "Agregar otro", "", :id=>"add_#{type}", :class=>"hidden"

				.clear		