- content_for :styles do
	= stylesheet_link_tag 'jquerydate'
	
- content_for :javascript do
	= javascript_include_tag 'jquery.tools.min','projects_new', 'jquery-ui.min'
	
= nested_form_for @project do |f|
	= f.hidden_field :user_id, :value => current_user.id
	= f.hidden_field :company_id,:value =>  current_company.id
	= f.hidden_field :area_id,:value =>  session[:area_id]
	%div
		.left
			= f.label :name, t('views.projects.new.name'), :class => 'bold'
		.right
			= f.text_field :name, :class => 'cycle_name'
	.clear
	%br
	%br
	.left
		= f.label :description, t('views.projects.new.description'), :class => 'bold'
	.right	
		= f.text_area :description, :class => 'text_area_operative_cycle'
	.clear
	%br
	%br
	.left.marginright10px
		=f.label :type,t('views.projects.new.type'), :class => 'bold'
	.left	
		= f.select :ptype, { t('views.projects.new.type_options.1d') => t('views.projects.new.type_options.1d'), 
		t('views.projects.new.type_options.2d') => t('views.projects.new.type_options.2d'),t('views.projects.new.type_options.3d')=>t('views.projects.new.type_options.3d')}
	%br	
	%br
	%br
	= f.label :reason, t('views.projects.new.reason'), :class => 'bold'
	.centered
		= f.text_area :reason, :style=>"width:100%; height:50px" 	
	
	%br
	%br	
	.clear	
	.left.marginright10px
		=f.label :leader,t('views.projects.new.leader'), :class => 'bold'
	.left
		= f.collection_select(:leader_id,@users, 'id', 'full_name')
	%br
	%br
	%br
	.light-gray.padding_10px
		.left.marginright10px.width_40
			=f.label :leader,t('views.projects.objectives'), :class => 'bold'
			= select("operative","objective", @objectives.collect {|p| [ "#{p.results} #{t('views.operative_objective.new.through')} #{p.actions}", p.id ] }, {:prompt => ''}, :style=>"width:100%")
		.right.align-right
			%br
			=t('views.projects.grade')
			%input{:id=>"objectives_input"}	
			="%"
			%br
			= link_to t("views.projects.add_objective"), "", :id=>"add_objective"	
		.clear	
		%br
		#objectives
			%ul{:id=>"project_objectives_ul"}
	%br	
	%br
	.light-gray.padding_10px
		.left.marginright_70px
			=f.label :length,t('views.projects.new.length'), :class => 'bold'
			%br
			%br
			= f.text_field :length, :size=>"24"
		.left.project_date
			.left
				=t('views.projects.new.init_date')
			= f.text_field :init_date
			
		.left.project_date
			.left
				=t('views.projects.new.final_date')
			= f.text_field :final_date
		.clear
	%br	
	.light-gray.padding_10px
		= f.label :product, t('views.projects.new.product'), :class => 'bold'
		%br
		%br
		.centered
			= f.text_area :product, :style=>"width:100%; height:50px"
		
	.clear	
	%br
	.left.marginright10px
		=t('views.projects.new.investment')
	.left
		= f.text_field :investment
	.clear	
	%br
	= render :partial => 'childs', :locals=>{:type=>'profit'}
	%br
	%br
	= render :partial => 'childs', :locals=>{:type=>'liabilitie'}
	%br
	%br
	= render :partial => 'childs', :locals=>{:type=>'restriction'}
	%br
	= render 'shared/notifications'
	%div.actions
		= link_to t('views.projects.new.controls.cancel'), projects_path, :class => 'button gray'
		=	f.submit t('views.projects.new.controls.save'), :class => 'button orange as-link'
		
		