<div class='list-item'>
	<div id="sl-<%= operating_cycle.id %>">
		<div class='operating_cycle_value'> 
			<%= operating_cycle.name %> 
		</div>
		<div class='right_place'>
			<%= link_to (image_tag('editar_ico_up.png', :class => 'button_to_edit')), edit_operating_cycle_path(operating_cycle), :class => 'modify' %>
			<%= link_to (image_tag('borrar_ico_up.png', :class => 'button_to_delete')), operating_cycle_path(operating_cycle), 
								:method => :delete, :class=>'delete' , :confirm => t('views.common.messages.delete.confirm', 
																								:connector => "ésta", 
																								:model => t('activerecord.models.operating_cycle'))%>
			</div>
			<br/>
			<br/>
			<div class="record_info">
				<%= record_info_for(operating_cycle) %>
			</div>
	</div>
</div>