<%= render :partial => 'shared/errors', 
:locals => {:message_error => t('views.creed.most_views.form_errors'), :object => @area} %>

<label><%= t('views.areas.name')%></label><br/>
<%= a.text_field :name, :class => 'area_name', :required=>:required, :rel=>"Name" %>
<br/><br/>
<div id="clear"></div>
<label><%= t('views.areas.responsable')%></label><br/>
<%= a.select :user_id, options_from_collection_for_select(@users, 'id', 'full_name', :selected => @area.user_id),{:include_blank => t('views.forms.select')}, {:class => ' left select_area', :required=>:required, :rel=>"Responsable"} %>
<div class="clear"></div>
<br/>

<div class="areas">

	<%-unless @area.is_root?%>
	<h2 class='title_h2'><%=t 'views.areas.level' %></h2>
	<%= select(:area, :alevel, [[t('views.areas.level1'), 1], [t('views.areas.level2'), 2]])  %>
	<div id="parent_area">
		<h2 class='title_h2'><%=t 'views.areas.parent' %></h2>
		<%= a.select :parent_id, options_from_collection_for_select(@parent_areas, 'id', 'name', :selected => @area.parent_id),{:include_blank => t('views.forms.select')}, {:class => ' left select_area', :required=>:required, :rel=>"Area Padre", :style=>"width:70%"} %>
		<br/>
	</div>
	<h2 class='title_h2'><%=t 'views.areas.supported' %></h2>

	<%= render :partial => 'functions/form_area', :locals => {:a => a} %>
	<%-end%>
</div>

<div class="clear"></div>
<br/><br/>


<div id="sesiones" class="left">
	<h2 class='title_h2'><%=t 'views.area.shared.functions' %></h2>

	<%= render :partial => 'functions/form', :locals => {:a => a} %>

	<%= a.link_to_add t('views.area.new.controls.add_function'), :functions, :class => 'button orange right' %>
</div>
<div class="clear"></div>
<br/><br/>
<div class='creed_buttons'>
	<table align='center'>
		<tbody>
			<tr>
				<td> <%= link_to t('views.area.shared.controls.cancel'), people_path, :class => 'button gray' %> </td>
				<td> <%= a.submit t('views.area.new.controls.save'), :class => 'button orange' %> </td>
			</tr>	
		</tbody>	
	</table>
</div>