= client.label :name, t('views.operating_cycle.client')
= f.fields_for :clients do |client|
	= client.label :name, t('views.operating_cycle.new_client')
	%br
	= client.text_field :name
	%br
	= client.link_to_remove "remove"
	%br
= f.link_to_add t('views.operating_cycle.add_client'), :clients