= f.label :clients, t('views.operating_cycle.section_client'), :class => 'bold'
%br
= f.fields_for :clients do |client|
	= client.text_field :name, :class => 'nested_textbox'
	%br
	= client.link_to_remove 'Remove'
	%br
= f.link_to_add t('views.operating_cycle.add_client'), :clients, :class => 'right'