<li rel="<%=operating_cycle.id %>" >


	<div class="<%=(operating_cycle_counter + 1)%2==0 ? "light-gray" : "gray"  %>">
		<%= link_to "+/- ","", :class=>"head" , :rel=>"operative_#{operating_cycle.id}" %> <%= operating_cycle.name %> 
		<div class='right_place'>
			<%= link_to (image_tag('editar_ico_up.png', :class => 'button_to_edit')), edit_operating_cycle_path(operating_cycle), :class => 'modify' %>
			<%= link_to (image_tag('borrar_ico_up.png', :class => 'button_to_delete')), operating_cycle_path(operating_cycle), 
			:method => :delete, :class=>'delete' , :confirm => t('views.common.messages.delete.confirm', 
			:connector => "ésta", 
			:model => t('activerecord.models.operating_cycle'))%>
		</div>
		<div class="clear"></div>
		<div class="record_info">
			<%= record_info_for(operating_cycle) %>
		</div>
	</div>
		<br/>	
		<div id="operative_<%=operating_cycle.id%>"  class='collapse' style="width: 900px; overflow-x: auto;">
			<br/>
			<br/>
			<%-
			code=get_graph(operating_cycle)
			@url_img="http://50.56.189.188:9292/graph/dot.svg?data=#{CGI::escape code}" 
			%>
			<%#code%>
			<%- unless code=="" %>
			<%=image_tag @url_img , :alt=>"" %>
			<%else%>

			<br/><br/>
			<%end%>
		</div>
</li>