%label
	%strong
		= t('views.operating_cycle.stages')
%br
%br
.align-right.right{:style=>"width:100%"}
	%input{:id=>"stages_input", :style=>"width:100%"}		
	%br
	= link_to t('views.operating_cycle.add_stage'), "", :id=>"add_stage"
.clear
#stages
	-index=0
	= f.fields_for :stages do |client|
		-classs=index%2==0 ? "light-gray" : "gray" 
		%div{:id=>"operating_cycle_clients_attributes_#{client.object.id}_div", :class=>"#{classs}"}
			.left
				= client.text_field :name, :class => 'no_edit_input'
			.right
				%a{:rel=>"operating_cycle_stages_attributes_#{index}_name",:class=>"modify",  :href=>""}
					=image_tag "editar_ico_up.png", :class=>"button_to_edit", :alt=>"Borrar_ico_up"
				%a{:rel=>"operating_cycle_clients_attributes_#{client.object.id}_div",:class=>"delete",  :href=>""}
					=image_tag "borrar_ico_up.png", :class=>"button_to_delete", :alt=>"Borrar_ico_up"
			.clear	
		-index=index+1