%div{:class => 'box rounded-10 with-shadow with-mid-width'}
	= content_for(:so_menu, &Proc.new { "selected" })
	%div{:class => "title-bar rounded-10-top" }
		%h2
			= t('views.strategic_objectives.new.title')
	%div{:class => 'inside-box'}
	= label_tag :name, t('views.operating_cycle.name')
	%br
	= best_in_place @operating_cycle, :name, :type => :input
	%br
	= label_tag :reason, t('views.operating_cycle.reason')
	%br
	= best_in_place @operating_cycle, :reason, :type => :text_area
	%br
	= label_tag :internal_id, t('views.operating_cycle.internal_id')
	%br
	= best_in_place @operating_cycle, :internal_id, :type => :input
	%br

	= content_for :contextual_legend do
		= render 'contextual_legends/contextual_legend'