- content_for :styles do
	= stylesheet_link_tag 'jquerydate'
	
- content_for :javascript do
	= javascript_include_tag 'jquery.tools.min','operative_objectives'


#through.hidden
	%b
		=t('views.operative_objective.new.through')
#through_text.centered
%br	
= nested_form_for @operative_objective do |f|
	= f.hidden_field :user_id, :value => current_user.id
	= f.hidden_field :area_id,:value =>  session[:area_id]
	
	.left
		= f.label :perspective, t('views.operative_objective.new.results'), :class => 'bold'
		%br
		= f.text_area :results, :class => 'text_area_operative_objective', :cols=>5

	.right
		= f.label :actions, t('views.operative_objective.new.actions'), :class => 'bold'
		%br
		= f.text_area :actions, :class => 'text_area_operative_objective', :cols=>5
	.clear
	%br
	.left
		=t('views.operative_objective.new.perspective')
		= f.select :perspective, { t('views.operative_objective.new.perspective_options.1d') => t('views.operative_objective.new.perspective_options.1d'), 
		t('views.operative_objective.new.perspective_options.2d') => t('views.operative_objective.new.perspective_options.2d'),t('views.operative_objective.new.perspective_options.3d')=>t('views.operative_objective.new.perspective_options.3d'),t('views.operative_objective.new.perspective_options.4d')=>t('views.operative_objective.new.perspective_options.4d')}
	
	.right
		.left.marginright10px
			.left
				=t('views.operative_objective.new.init_date')
			= f.text_field :init_date
			
		.right
			.left
				=t('views.operative_objective.new.final_date')
			= f.text_field :final_date
		.clear	
	
	%br
	%br	
	%br
	.clear	
	.left.marginright10px
		=t('views.operative_objective.new.responsable')
	.left
		= f.collection_select(:responsable_id,@users, 'id', 'name')
	.clear	
	%br
	= render :partial => 'strategic_line'
	= render 'shared/notifications'
	%div.actions
		= link_to t('views.operative_objective.cancel'), operative_objectives_path, :class => 'button gray'
		= f.submit t('views.operative_objective.new.controls.save'), :class => 'button orange as-link'
		