<li rel="<%=operative_objective.id %>">
	<table width="100%" cellspadding="0" celspacing="0" class="objective_table">
	<tr>
		<th width="50%" style="text-align:left; padding:6px"> <%= link_to "+/- ","", :class=>"head" , :rel=>"operative_#{operative_objective.id}" %>   Objetivo</th>
		<th width="9%">BSC</th>
		<th width="11%">Fecha Ini</th>
		<th width="11%">Fecha Final</th>
		<th width="20%"></th>
	</tr>
	<tr>
		<td>
			<%= operative_objective.results %> 
			<strong><%= t('views.operative_objective.new.through').upcase %> </strong>
			<%= operative_objective.actions %>
		</td>
		<td><%= operative_objective.perspective %></td>
		<td><%= operative_objective.init_date.nil? ? "" : operative_objective.init_date.to_date %></td>
		<td><%= operative_objective.final_date.nil? ? "" : operative_objective.final_date.to_date %></td>
		<td>
			<%= render :partial=>'comments/comments_link',:locals=>{:obj=>operative_objective} %>
			<%= link_to (image_tag('editar_ico_up.png', :class => 'button_to_edit')), edit_operative_objective_path(operative_objective), :class => 'modify' %>
			<%= link_to (image_tag('borrar_ico_up.png', :class => 'button_to_delete')), operative_objective_path(operative_objective), 
			:method => :delete, :class=>'delete' , :confirm => t('views.common.messages.delete.confirm', 
			:connector => "ésta", 
			:model => t('activerecord.models.operative_objective'))%>
		</td>
	</tr>

	<tr>
		<td colspan="5">
			<br/>
			<div id="operative_<%=operative_objective.id %>" class="collapse">
				<table width="60%" cellspadding="0" celspacing="0" class="objective_table">	
					<tr>
						<th width="80%"><%= t('views.operative_objective.index.pointers.pointer') %></th>
						<th width="20%"><%= t('views.operative_objective.index.pointers.advance') %></th>
					</tr>
					<%- 
					pointers=operative_objective.pointers
					if  pointers.empty?
						%>	
						<tr>
							<td class="notification-box"><%= t('views.operative_objective.index.pointers.empty') %></td>
							<td class="notification-box"></td>
						</tr>
						<%else%>

						<%pointers.each_with_index do |pointer,index|
							trclass= index%2==0 ? "blank-box" : "notification-box"
							%>
							<tr>
								<td class="<%=trclass%>" width="60%">
									<div class="right">
										<%= link_to (image_tag('editar_ico_up.png', :class => 'button_to_edit')), edit_pointer_path(pointer,:operative_objective_id=>operative_objective.id), :class => 'modify' %>
										<%= link_to (image_tag('borrar_ico_up.png', :class => 'button_to_delete')), pointer_path(pointer), 
										:method => :delete, :class=>'delete' , :confirm => t('views.common.messages.delete.confirm', 
										:connector => "ésta", 
										:model => t('activerecord.models.pointer'))%>
									</div>
									<%= pointer.name%>

								</td>
								<td class="<%=trclass%>" width="40%">

									<div id='chart_div_<%=operative_objective.id%>_<%=pointer.id%>'></div>
									<%-
									thres=pointer.thresholds
									unless thres.nil?
										thresholds=thres.split(',')
										umb2=thresholds[0]
										umb4=thresholds[1]
									else
										umb2=30
										umb4=70
									end	

									%>
									<script type="text/javascript">
									google.setOnLoadCallback(drawChart_<%=operative_objective.id%>_<%=pointer.id%>);

									function drawChart_<%=operative_objective.id%>_<%=pointer.id%>() {
										var data = new google.visualization.DataTable();
										data.addColumn('string', 'Label');
										data.addColumn('number', 'Value');
										data.addRows([
											['Status', <%= pointer.advance || 0%>]
											]);

											var options = {
												width: 350, height: 85,
												redFrom: 0, redTo: <%=umb2%>,
												yellowFrom:<%=umb2.to_i + 1%>, yellowTo: <%=umb4%>,
												greenFrom:<%=umb4.to_i + 1%>, greenTo:100,
												minorTicks: 5
											};

											var chart = new google.visualization.Gauge(document.getElementById('chart_div_<%=operative_objective.id%>_<%=pointer.id%>'));
											chart.draw(data, options);
										}

										</script>

									</td>
								</td>
							</tr>
							<%end%>
							<%end%>
							<tr>
								<td class="notification-box " colspan="2"><%= link_to t('views.operative_objective.index.pointers.add'), new_pointer_path(:operative_objective_id=>operative_objective.id) %></td>
							</tr>

						</table>	
					</div>

				</td>
			</tr>
		</table>
		</li>
