<li rel="<%=analysis.id %>" >
<div class="list">
  <div class="list-item <%=(analysis_counter + 1)%2==0 ? "light-gray" : "gray"  %>">
    <div id="analysis-<%= analysis.id %>">
      <span class="inline-analysis-value"><%= analysis.content %></span>
      <div class="right-placed">
			<div class="right-placed">
        <%= button_to('Eliminar', [:swot, analysis], :method => :delete, :confirm => delete_confirmation_for(analysis), :class => 'delete' ) %>
		</div>
		<div class="right-placed">
			<%= render :partial=>'comments/comments_link',:locals=>{:obj=>analysis} %>
		</div>	

      </div>
	

	<div class="clear"></div>
    </div>

  </div>
</div>
</li>