<%= render :partial=>"shared/drag_drop"%>
<div class="box rounded-10 with-shadow with-mid-width">
	
	<%= content_for(:sw_menu, &Proc.new { "selected" }) %>
	<%= content_for(:swe_submenu, &Proc.new { "selected" }) %>
	
	<%= render 'swot/shared/menu' %>	
	
	<div class="inside-box on-2 columns">
		
		<div class="opportunities column">
			<p class='opportunities_title'><%=t 'views.swot.shared_views.opportunities' %></p>
			<ul id="drag_ul">
				<%= render :partial => "swot/analysis", :collection => @opportunities %>
			</ul>
			<div class='opportunities_add_link'>
				<%= link_to t('views.swot.shared_views.controls.add_opportunity'), 'javascript:void(0);', :class => "show-div", :id => "new-opportunity" %>
			</div>
			
			 <div id="new-opportunity" class="hidden">
	     	<%= form_for([:swot, Analysis.new]) do |f| %>
	      	<%= render :partial => 'swot/form', :locals => {:f => f, :kind => Analysis.opportunity} %>
	      <% end %>
	     </div>
		</div>
				
		<div class="risks column">
			<p class='risk_title'><%=t 'views.swot.shared_views.risks' %></p>
			<ul id="drag2_ul">
				<%= render :partial => "swot/analysis", :collection => @risks %>
			</ul>
			<div class ='risk_add_link'>
				<%= link_to t('views.swot.shared_views.controls.add_risk'), 'javascript:void(0);', :class => "show-div", :id => "new-risk" %>
			</div>
			<div id="new-risk" class="hidden">
        <%= form_for([:swot, Analysis.new]) do |f| %>
          <%= render :partial => 'swot/form', :locals => {:f => f, :kind => Analysis.risk} %>
        <% end %>
      </div>
		</div>
	</div>
</div>

<%= content_for :contextual_legend do %>
	<%= render 'contextual_legends/contextual_legend' %>
<% end %>
