<div class="box rounded-10 with-shadow with-mid-width">
	
	<%= render 'swot/shared/menu' %>	
	
	<div class="inside-box">
		
		<div class="strengths">
			<p><%=t 'views.swot.shared_views.strengths' %></p>
			
			<%= render :partial => "swot/analysis", :collection => @strengths %>
			
			<%= link_to t('views.swot.shared_views.controls.add_strength'), 'javascript:void(0);', :class => "show-div", :id => "new-strength" %>
		</div>
		
		<div id="new-strength" class="hidden">
			<%= form_for([:swot, Analysis.new]) do |f| %>
				<%= render :partial => 'swot/form', :locals => {:f => f, :kind => Analysis.strength} %>
			<% end %>
		</div>
		
		<div class="weaknesses">
			<p><%=t 'views.swot.shared_views.weaknesses' %></p>
			
			<%= render :partial => "swot/analysis", :collection => @weaknesses %>
			
			<%= link_to t('views.swot.shared_views.controls.add_weakness'), 'javascript:void(0);', :class => "show-div", :id => "new-weakness" %>
		</div>
		
		<div id="new-weakness" class="hidden">
			<%= form_for([:swot, Analysis.new]) do |f| %>
				<%= render :partial => 'swot/form', :locals => {:f => f, :kind => Analysis.weakness} %>
			<% end %>
		</div>
		
		
		
	</div>
</div>

<%= content_for :contextual_legend do %>
	<%= render 'contextual_legends/contextual_legend' %>
<% end %>