<div class="box rounded-10 with-shadow with-mid-width">
	<%= render :partial => 'creed/shared/new_creed', :locals => {:creed => @vision} %>
</div>

<%= content_for :contextual_legend do %>
	<div class="help">
		<div class="title">
			<p><%= I18n.t('views.help.title') %></p>
		</div>
		
		<p class="subtitle"><%= I18n.t('activerecord.models.vision') %></p>
		
		<p><%= I18n.t('views.creed.help.vision.description')  %></p>
		
		<p class="subtitle"><%= I18n.t('views.creed.help.notifications.title') %></p>
		
		<p><%= I18n.t('views.creed.help.notifications.description')  %></p>
	</div>
<% end %>