<div class="header-contents">

	<div class="left-menu">
		<ul>
			<li><%= link_to t('views.header.controls.my_account'), accounts_path %></li>
			<li><%= link_to t('views.header.controls.reports'), '' %></li>
			<li><%= link_to t('views.header.controls.preparation'), '' %></li>
			<li><%= link_to t('views.header.controls.help'), '' %></li>
			<li class="last"><%= link_to t('views.header.controls.support'), '' %></li>
		</ul>
	</div>

	<div id="app-logo"></div>
	
	<div class="right-menu content on-2 columns">
		<div class="column fixed" >
			<b><%= current_user.full_name %> | <%= task_number_for(current_user) %></b>
			
			<div id ="menuContainer">  

					<%-selected=@areas_allowed.find(session[:area_id]) %>
					<%-first_level=@areas_allowed.where(:alevel=>1) %>
					<a href="#" class="area_link selected_area" rel="<%=selected.id%>" id="megaanchor"><span class="area-selector-arrow">&nbsp;</span><%=selected.name%></a>     
					
						<%- if @areas_allowed.include?(@root_area) && @root_area!= selected 
							first_level<< @root_area  
					  	end
						%>
					<div id="megamenu1" class="megamenu">
						<%-first_level.each_with_index do |area,tindex| %>     
						    <%-@children=[] %>
							<%-@children=area.children_areas %>
							<%-unless @children.empty? %>
								<div class="column">
									<h3><a href="#" class="area_link" rel="<%=area.id%>"><%=area.name%></a></h3>       
									<ul> 
										<%-@children.each do |child| %> 
											<%- if @areas_allowed.include?(child) %>
											<li><a href="#" class="area_link" rel="<%=child.id%>"><%=child.name%></a></li>
											<%-end%>        
										<%-end%>        
									</ul>       
								</div>
								<%- if (tindex+1)%3==0 %>
									<br style="clear: left" /> 
								<%-end%>
								
							<%-else%>
								<div class="column">
									<h3><a href="#" class="area_link" rel="<%=area.id%>"><%=area.name%></a></h3>
								</div>
								<%- if (tindex+1)%3==0 %>
									<br style="clear: left" /> 
								<%-end%>
							<%-end%> 
						<%-end%>         
					</div>	
				      

			</div>
	
			<div class="column fixed right-placed">
				<b><%= link_to t('views.header.controls.help'), '' %></b>&nbsp;|&nbsp;
				<%= link_to t('views.header.controls.logout'), destroy_user_session_url %>
			</div>
		</div>
	</div>	
	
	
	
