<!DOCTYPE html>
<html>
<head>
	<title>Oficina de Gestion de desempeño</title>
	<script type="text/javascript">var base_url='<%= root_url %>';</script>
	<%= stylesheet_link_tag :defaults, 'layout', 'app_index_pages', 'jquerytools' %>  		
	<%= javascript_include_tag :defaults, :others,'jquery.tools.min','jqueryvalidations' %>
	<%= yield :javascript %>
	<%= yield :styles %>


	<%= csrf_meta_tag %>
</head>
<body>
	<header>
		<% if user_signed_in? %>
			<% if params[:controller]!="home" && params[:action]!="confirm"  %>
				<%= render :partial => 'layouts/header_context' %>
			<% end %>
		<% else %>
		<h1>Performa</h1>
		<% end %>
	</header>

	<div class="main-content">
		<% if params[:controller]!="home" && params[:action]!="confirm" %>
			<%= render(:partial => 'shared/main_menu') if user_signed_in? %>
			<div id="errors">
  <h2>Hemos encontrado algunos errores!</h2>
</div>
		<div class="messages">
			<p id="notice" class="flash centered"><%= notice %></p>
			<p id="alert" class="flash centered"><%= alert %></p>
			
		</div>
		<% end %>
		<div class="box-right">

			<div class="content">
				<%= yield %>		
			</div>

		</div>
	</div>
</body>
</html>