<div class="box rounded-10 with-shadow with-mid-width">
	
	<%= render :partial => 'shared/main_title', :locals => {:title => I18n.t('views.accounts.title') } %>
	<%= render :partial => 'menu' %>
	
	<div class="inside-box">

		<h1><%= I18n.t('views.accounts.sections.my_account.title') %></h1>

		<div class="unit on-2 columns">
			<div class="column fixed" style="width: 50%">

				<%= form_for(@user, :url => account_path(@user), :html => { :method => :put }) do |f| %>
				  <div class="field-set label-small grey-colored rounded-5 with-inner-shadow">

						<div><%= f.label :login %>: </div>
					  <%= f.text_field :login, :size => 20 %>

						<div><%= f.label :password %>: </div>
					  <%= f.password_field :password, :size => 20 %>

					  <div><%= f.label :password_confirmation %>: </div>
					  <%= f.password_field :password_confirmation, :size => 20 %>

					</div>

				  <div class="right-placed form-controls">
						<%= link_to I18n.t('views.accounts.sections.my_account.controls.cancel'), '' %>
						<%= f.submit I18n.t('views.accounts.sections.my_account.controls.edit'), :class => "button orange as-link" %>
					</div>
				<% end %>
			</div>
			<div class="column fixed" style="width: 50%">
		
				<div class="field-set label-small" style="text-align: right">
					<div><label>Permisos:</label></div>
					<%= text_field_tag :user_position, I18n.t("views.positions.#{@user.position.name}"), :disabled => true %>
						
					<% confirmation = @user.company.has_only_one_owner? ? I18n.t('devise.registrations.confirm_destruction_owner') : I18n.t('devise.registrations.confirm_destruction') %>	
					<%= link_to I18n.t('views.accounts.sections.my_account.controls.finish_account'), 
										  destroy_account_path, :confirm => confirmation, :method => :delete, :class => "button green as-link" %>
				</div>

			</div>
		</div>
	</div>
</div>

<%= content_for :contextual_legend do %>
		<%= render 'contextual_legends/contextual_legend' %>
<% end %>