<div class="box rounded-10 with-shadow with-mid-width">
	
	<%= render :partial => 'shared/main_title', :locals => {:title => I18n.t('views.accounts.title') } %>
	<%= render :partial => 'menu' %>
	
	<div class="tasks">
		<table>
			<tr>
				<th><%= I18n.t('views.accounts.sections.my_tasks.table.task_column_name') %></th>
				<th><%= Task.human_attribute_name(:priority) %></th>
			</tr>
			<% @user.tasks.each_with_index do |t, i| %>
				<tr class="<%= i.odd? ? "odd" : "even" %>">
					<td><%= t.description %></td>
					<td><%= I18n.t("views.accounts.sections.my_tasks.priority.#{t.priority}")  %></td>
				</tr>
			<% end %>
		</table>
	</div>
	
</div>

<%= content_for :contextual_legend do %>
		<%= render 'contextual_legends/contextual_legend' %>
<% end %>